{
  "$schema": "https://json.schemastore.org/prettierrc",
  "semi": false,
  "singleQuote": false,
  "singleAttributePerLine": true,
  "printWidth": 120,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "trailingComma": "none"
}
