@charset "UTF-8";

.sl-theme() {

  --sl-foreground-color: #fff;
  --sl-background-color: #262626;

  --sl-hover-color: #3d3d3d;
  --sl-scrollbar-color: #666;

  --vi-divider-color: #444;
  --vi-border-color: #999;
  --vi-tab-background-color: #3d3d3d;
  --vi-label-background-color: #3a3a3a;
  --vi-active-color: var(--sl-color-primary-500);

  --vi-table-row-color-selected: rgba(0, 0, 0, .2);
  --vi-table-head-color: var(--sl-foreground-color);
  --vi-table-head-color-hover:  var(--sl-foreground-color);
  --vi-table-head-background-hover: rgba(0, 0, 0, .15);
  --vi-table-row-color-hover: rgba(0, 0, 0, .15);
  --vi-table-border-color: var(--vi-border-color);

  /*--sl-foreground-color: #222;
  --sl-background-color: #fff;

  --sl-hover-color: #e1e1e1;
  --sl-scrollbar-color: #cecece;

  --vi-divider-color: #c2c2c2;
  --vi-border-color: #bbbbbb;
  --vi-tab-background-color: #efefef;
  --vi-label-background-color: #efefef;
  --vi-active-color: var(--sl-color-primary-500);

  --vi-table-row-color-selected: rgba(0, 0, 0, .15);
  --vi-table-head-color: var(--sl-foreground-color);
  --vi-table-head-color-hover:  var(--sl-foreground-color);
  --vi-table-head-background-hover: #EAEAEAFF;
  --vi-table-row-color-hover: #EAEAEAFF;
  --vi-table-border-color: var(--vi-border-color);
   */
}

