name: Build Vue Components

on:
  push:
    tags:
      - "v0.*"
      - "v1.*"

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x]

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: npm install --prefix=packages/components
    #- run: npm run build
    - uses: JS-DevTools/npm-publish@v1
      with:
        access: "public"
        token: ${{ secrets.NPM_TOKEN }}
        package: ./components/package.json